<section style="padding-top: 130px;padding-bottom: 0px;" id="slider" class="">
    <!-- START REVOLUTION SLIDER 5.0 -->
    <!-- Carousel -->
    <div >
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--  <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>-->

        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div><img src="assets/files/Group 10.png" style="width: 100%;"></div>
                <div class="hero">

                    <h2> Health & Wellness at <b color="#1a88b5;">SALVEO</b></h2>

                    <!--<a href="https://www.youtube.com/watch?v=JSqoOirES8E" target="_blank" class="btn btn-hero btn-lg" role="button">PLAY VIDEO</a>-->
                </div>
            </div>
        </div>



    </div>
</section>
<!-- <section></section> -->
<section style="background-color:#1a88b5;">
    <!--<center><h5 style="color:#1b8bca;">CORPORATE WELLNESS</h5></center>-->
    <center>
        <p style="color:#ffff;width: 80%;font-size: large">Salveo brings you quality online healthcare at affordable prices, covering prevention, treatment and overall wellbeing. A wide range of specialist doctors and professionals offer a host of services to you and your family, which can be a.
        </p>
    </center>
</section>
<section class="justify-content-center">
    <center>
        <div class="justify-content-center">
            <div class="col-md-4">
                <img class="img-full" src="assets/files/comprehensive -health.jpg">
                <br> <span style="color:#000000;" align="center"><b>PREVENTIVE MEDICINE</b></span>
            </div>

            <div class="col-md-4">
                <img class="img-full" src="assets/files/stress-management.png">
                <br> <span style="color:#000000;" align="center"><b>STRESS MANAGEMENT</b></span>
            </div>
            <div class="col-md-4">
                <img class="img-full" src="assets/files/Group_13.png">
                <br><span style="color:#000000;" align="center"><b>NUTRITION & DIET PLAN</b></span>
            </div>
            <!--<div class="col-md-4">
            <img class="img-full" src="assets/files/group-programs.png">
            <br> <span style="color:#000000;" align="center"><b>GROUP FITNESS PROGRAMS</b></span>
        </div>-->
        </div>



    </center>
</section>
<section class="justify-content-center">
    <center>
        <div class="justify-content-center">
            <div class="col-md-4">
                <img class="img-full" src="assets/files/Group_12.png">
                <br> <span style="color:#000000;" align="center"><b>CARDIOVASCULAR FITNESS</b></span>
            </div>

            <div class="col-md-4">
                <img class="img-full" src="assets/files/Group_11.png">
                <br> <span style="color:#000000;" align="center"><b> SPECIALIST CONSULTATION</b></span>
            </div>
            <div class="col-md-4">
                <img class="img-full" src="assets/files/diabetes-managemnet.jpg">
                <br><span style="color:#000000;" align="center"><b>DIABETES MANAGEMENT</b></span>
            </div>
            <!--<div class="col-md-4">
            <img class="img-full" src="assets/files/group-programs.png">
            <br> <span style="color:#000000;" align="center"><b>GROUP FITNESS PROGRAMS</b></span>
        </div>-->
        </div>



    </center>
</section>
<section class="justify-content-center">
    <center>
        <div class="justify-content-center">
            <div class="col-md-4">
                <img class="img-full" src="assets/files/women-health-salveo.png">
                <br> <span style="color:#000000;" align="center"><b>WOMEN'S HEALTH</b></span>
            </div>

            <div class="col-md-4">
                <img class="img-full" src="assets/files/pediatrics-salveo.png">
                <br> <span style="color:#000000;" align="center"><b> PEDIATRICS</b></span>
            </div>
            <div class="col-md-4">
                <img class="img-full" src="assets/files/dermatology.png">
                <br><span style="color:#000000;" align="center"><b>DERMATOLOGY</b></span>
            </div>
            <!--<div class="col-md-4">
            <img class="img-full" src="assets/files/group-programs.png">
            <br> <span style="color:#000000;" align="center"><b>GROUP FITNESS PROGRAMS</b></span>
        </div>-->
        </div>



    </center>
</section>