<section style="padding-top: 130px;padding-bottom: 0px;" id="slider" class="">
    <!-- START REVOLUTION SLIDER 5.0 -->
    <!-- Carousel -->
    <div data-ride="carousel" data-interval="3500" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--  <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>-->

        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div><img src="assets/files/banner8.jpg" style="width: 100%;"></div>
                <div class="hero">

                    <h2>NURSING AND ELDERLY CARE AT <b color="#1a88b5;">SALVEO</b></h2>

                    <!--<a href="https://www.youtube.com/watch?v=JSqoOirES8E" target="_blank" class="btn btn-hero btn-lg" role="button">PLAY VIDEO</a>-->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- #hero end -->
<!-- <section></section> -->
<section style="background-color:#1a88b5;">

    <!-- <center><h5 style="color:#ffff;">NURSING & ELDER CARE</h5></center>-->
    <center>
        <p style="color:#ffff;width: 80%;font-size: large">Skilled and seasoned professionals can provide round the clock nursing care at your home. The services include assisting in recovering from illness, post pregnancy well-being, recuperation after accidents, focused geriatric care and ambulance
            services. </p>
    </center>
</section>
<section>
    <center>
        <div class="justify-content-center" style="background: #eee;">
            <div class="col-md-4" style="color: #000000;"><b>CAREGIVING</b><br><br>
                <img src="assets/files/train.png"></div>
            <div class="col-md-4" style="color:#000000;"><b>NURSING FOR ELDERS</b><br><br>
                <img src="assets/files/nursing.png"></div>
            <div class="col-md-4" style="color:#000000;"><b>NURSING FOR BEDRIDDEN PATIENTS</b><br><br>
                <img src="assets/files/couple.png"></div>
        </div>
    </center>
    <!--<center><a class="btn btn-primary">NURSING @ HOME</a></center>-->
</section>
<!--<section>
    <center><h5 style="color:#1a88b5;">OUR SPECIALITIES</h5></center>
   <div class="col-md-12">
       <div class="col-md-1">
           </div>
       <div class="col-md-4">
            <ul class="our_speciality">
                <li>Diaper Change</li>
                <li>Sponge Bath</li>
                <li>Oral suction</li>
                <li>insulin injection</li>
                <li>BP Checking</li>
            </ul>
             </div>
             <div class="col-md-2">
             <img style="width: 50px;" src="assets/files/n5.png">
             </div>
              <div class="col-md-2">
             <img style="width: 50px;" src="assets/files/n5.png">
             </div>
             <div class="col-md-3">
             
               <ul  class="our_speciality1">
                <li>Diaper Change</li>
                <li>Sponge Bath</li>
                <li>Oral suction</li>
                <li>insulin injection</li>
                <li>BP Checking</li>
            </ul>
        </div>
    </div>
</section>-->
<section>
    <center>
        <h5 style="color:#1a88b5;">CUSTOMER SPEAK</h5>
    </center>
    <div class="col-md-1"></div>
    <div class="col-md-10"><img style="width:100%;" src="assets/files/player.jpg"></div>
    <div class="col-md-1"></div><br><br>
    <div class="col-md-12">
        <div class="col-md-4"><span style="padding-left: 147px; font-weight: 600;font-size:16px;"><i class="fa fa-user-o" aria-hidden="true"></i>Trusted by 100+ users</span></div>
        <div class="col-md-4"> <span style="padding-left: 147px; font-weight: 600; font-size:16px;"><i class="fa fa-file-video-o" aria-hidden="true"></i>Video Documentation</span></div>
        <div class="col-md-4">
            <span style="padding-left: 147px; font-weight: 600;font-size:16px;"><i class="fa fa-user-o" aria-hidden="true"></i>24/7 Chat Support</span></div>
    </div>
</section>