<section style="padding-top: 130px;padding-bottom: 0px;" id="slider" class="">
    <!-- START REVOLUTION SLIDER 5.0 -->
    <!-- Carousel -->
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3500" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--  <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>-->

        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div><img src="assets/files/corporate-banner.jpg" style="width: 100%;"></div>
                <div class="hero">

                    <h2> Corporate Wellness at <b color="#1a88b5;">SALVEO</b></h2>

                    <!--<a href="https://www.youtube.com/watch?v=JSqoOirES8E" target="_blank" class="btn btn-hero btn-lg" role="button">PLAY VIDEO</a>-->
                </div>
            </div>
        </div>



    </div>
</section>
<section></section>
<section style="background-color:#1a88b5;">
    <!--<center><h5 style="color:#1b8bca;">CORPORATE WELLNESS</h5></center>-->
    <center>
        <p style="color:#ffff;width: 80%;font-size: large;">Welcome to Salveo's Corporate Health Transformation program. Salveo offers you a comprehensive health management program, that covers all aspects of health and wellness - helping to reduce the health risk to the organization. This results in higher
            productivity, better cognitive performance and lower stress levels - which in turn has a direct impact on the organization's revenue and profits. Taking into consideration that health and wellness requirements can vary from organization to
            organization, Salveo's end to end health solutions are modular in nature, and can be completely aligned to the organization's corporate and HR strategies.
        </p>


        <section class="container">
            <!--<center><h5 style="color:#1b8bca;">OUR METHODOLOGY</h5></center>-->
            <center>
                <div class="justify-content-center">
                    <img class="img-full" src="assets/files/Layer 48.jpg">

                </div>
            </center>
        </section>
        <section class="container">
            <!--<center><h5 style="color:#1b8bca;"> WELLNESS CHECK</h5></center>-->
            <center>
                <div class="justify-content-center">
                    <div class="col-md-4">
                        <ul class="listalign"></ul>
                    </div>
                </div>
            </center>
        </section>


    </center>
</section>


<section class="justify-content-center">
    <div class="justify-content-center">





        <div class="col-md-4">
            <img class="img-full" src="assets/files/digital-heath-salveo.png">
            <br><span style="color:#000000;" align="center"><b>Digital Health Scan</b></span>
        </div>
        <div class="col-md-4">
            <img class="img-full" src="assets/files/score-card-salveo.png">
            <br> <span style="color:#000000;" align="center"><b> Corporate Health Score Card</b></span>
        </div>

        <div class="col-md-4">
            <img class="img-full" src="assets/files/predictive-analysis.png">
            <br> <span style="color:#000000;" align="center"><b>Predictive Analytics</b></span>
        </div>
        <!--<div class="col-md-4">
    <img class="img-full" src="assets/files/group-programs.png">
    <br> <span style="color:#000000;" align="center"><b>GROUP FITNESS PROGRAMS</b></span>
</div>-->
    </div>
</section>



<section class="justify-content-center">
    <center>
        <div class="justify-content-center">
            <div class="col-md-4">
                <img class="img-full" src="assets/files/whatsapp logo.png">
                <br> <span style="color:#000000;" align="center"><b>WhatsApp Chat Support</b></span>
            </div>
            <div class="col-md-4">
                <img class="img-full" src="assets/files/group-games-salveo.jpg">
                <br><span style="color:#000000;" align="center"><b>Wellness Games</b></span>
            </div>

            <div class="col-md-4">
                <img class="img-full" src="assets/files/stress-management.png">
                <br><span style="color:#000000;" align="center"><b>Disease and Stress Management</b></span>
            </div>
            <!--<div class="col-md-4">
            <img class="img-full" src="assets/files/group-programs.png">
            <br> <span style="color:#000000;" align="center"><b>GROUP FITNESS PROGRAMS</b></span>
        </div>-->
        </div>



    </center>
</section>
<section class="justify-content-center">
    <center>
        <div class="justify-content-center">
            <div class="col-md-4">
                <img class="img-full" src="assets/files/inhouse-corporate.png">
                <br> <span style="color:#000000;" align="center"><b>In-house Clinic</b></span>
            </div>

            <div class="col-md-4">
                <img class="img-full" src="assets/files/ambulance-services-corporate.png">
                <br> <span style="color:#000000;" align="center"><b> Ambulance Services</b></span>
            </div>

            <div class="col-md-4">
                <img class="img-full" src="assets/files/Group_13.png">
                <br><span style="color:#000000;" align="center"><b>Individualised Diet Plan</b></span>
            </div>
            <!--<div class="col-md-4">
            <img class="img-full" src="assets/files/group-programs.png">
            <br> <span style="color:#000000;" align="center"><b>GROUP FITNESS PROGRAMS</b></span>
        </div>-->
        </div>



    </center>
</section>

<section class="justify-content-center">
    <center>
        <div class="justify-content-center">
            <div class="col-md-4">
                <img class="img-full" src="assets/files/nutition-diet-consultation.png">
                <br> <span style="color:#000000;" align="center"><b> Consultation with Nutritionist</b></span>
            </div>

            <div class="col-md-4">
                <img class="img-full" src="assets/files/comprehensive -health.jpg">
                <br> <span style="color:#000000;" align="center"><b>Comprehensive Medical Check</b></span>
            </div>
            <div class="col-md-4">
                <img class="img-full" src="assets/files/interactive-tips-tricks.jpg">
                <br> <span style="color:#000000;" align="center"><b> Interactive Tips and Tricks</b></span>
            </div>
            <!--<div class="col-md-4">
            <img class="img-full" src="assets/files/group-programs.png">
            <br> <span style="color:#000000;" align="center"><b>GROUP FITNESS PROGRAMS</b></span>
        </div>-->
        </div>



    </center>
</section>