.add-btn {
    border: none;
    background: #2896bc;
    color: #fff;
}

:host::ng-deep .pagination>li>a,
.pagination>li:first-child>span {
    font-size: 9px !important;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
}

.badge {
    display: inline-block;
    font-weight: 500;
    color: #35a625;
    background-color: #FFF;
}

.table>thead>tr>th {
    font-weight: 500;
}

.table>tbody>tr>td {
    color: #605f5f;
    font-weight: 400;
}

.table td {
    vertical-align: middle;
}
:host::ng-deep .ui-button-text-only .ui-button-text {
    color: #fff !important;
}
:host::ng-deep .ui-button:enabled:focus {
    outline: 0 none;
    outline-offset: 0px;
    box-shadow: none !important;
}
.btn {
    font-size: 9px !important;
    height: 26px !important;
    line-height: 0 !important;

}