<div class="animated fadeIn">
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Patient List
                    <div class="row" style="padding:20px 0px">
                        <div class="col-lg-3">
                            <h5>Corporate Code</h5>
                            <p-dropdown [options]="corporate" [(ngModel)]="selectedcorporate" placeholder="Select "
                                optionLabel="name" [showClear]="true"></p-dropdown>
                        </div>
                        <div class="col-lg-3">
                            <h5>Emp Code</h5>
                            <input type="text" pInputText [(ngModel)]="selectedemp"> 
                        </div>
                        <div class="col-lg-3">
                            <div style="margin-top: 30px;">
                                <p-button (click)="filter()" label="Filter" style="margin-right: 15px;"></p-button>
                                
                                <p-button (click)="refresh()" label="Refresh" ></p-button>
                            </div>
                            
                        </div>
                    </div>


                </div>
                <div class="card-body" style="overflow-x: scroll;">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Patient Name</th>
                                <th>Email ID</th>
                                <th>Phone Number</th>
                                <th>Corporate Code</th>
                                <th>Emp Code</th>
                                <th>Action</th>
                                <th>View More</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of Patient_list; let i = index;">

                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Email}}</td>
                                    <td>{{item.Phone}}</td>
                                    <td>{{item.CorporateCode}}</td>
                                    <td>{{item.emp_codes}}</td>
                                    <td>{{item.Password}}</td>
                                    <td>
                                        <button (click)="DeletePatient(item._id)">Delete</button>
                                        <button (click)="ViewPatient(item)">View</button>
                                    </td>

                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>