<section style="padding-top: 130px;padding-bottom: 0px;" id="slider" class="">
    <!-- START REVOLUTION SLIDER 5.0 -->
    <!-- Carousel -->
    <div data-ride="carousel" data-interval="3500" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <!--   <ol class="carousel-indicators">
              <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
              
            </ol> -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class=""><img src="assets/files/banner4.jpg" alt="" style="width: 100%;"></div>
                <div class="hero">
                    <hgroup>
                        <h2>Diagnostics at <br> Salveo</h2>

                    </hgroup>
                    <!--<a href="https://www.youtube.com/watch?v=JSqoOirES8E" target="_blank" class="btn btn-hero btn-lg" role="button">PLAY VIDEO</a>-->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- #hero end -->

<!-- <section></section> -->
<section style="background-color:#1a88b5;">
    <!--<center><h5 style="color:#1a88b5;">DIAGNOSTICS</h5></center>-->
    <center>
        <p style="color:#ffff;width: 80%;font-size: large" >
            Qualified and expert technicians, using the latest lab equipment, provide a comprehensive range of diagnostic services. Complete adherence to a strict testing protocol ensures test outcomes are accurate and consistent. Collection of samples can be done
            from your home, at your convenience.
        </p>
    </center>
</section>
<!-- <section>
    <center><a class="btn btn-primary">Tests @ HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary">Tests @ Salveo Hub</a></center>
</section>-->

<section>
    <!--<center><h5 style="color:#1a88b5;">Diagnostic Tests</h5></center>-->

    <div class="col-md-1"></div>
    <div class="col-md-4">

        <p style="color: #000000;"><b><u>INDIVIDUAL TESTS</u></b></p>

        <li style="color: #000000;"><b>GLUCOSE FASTING</b></li>
        <li style="color: #000000;"><b>GLUCOSE PLBS (PPBS)</b></li>
        <li style="color: #000000;"><b>SERUM UREA</b>
            <ul>
                <li style="color: #000000;"><b>SERUM CREATININE</b></li>

                <li style="color: #000000;"><b>SERUM IRON</b></li>

                <li style="color: #000000;"><b>SERUM ELECTROLYTES</b></li>
                <li style="color: #000000;"><b>THYROID PROFILE</b></li>
                <li style="color: #000000;"><b>LIPID PROFILE</b>
                </li>

                <li style="color: #000000;"><b>LIVER FUNCTION TEST</b></li>
                <li style="color: #000000;"><b>HbA1C</b></li>


            </ul>
        </li>
    </div>
    <div class="col-md-4">

        <p style="color: #000000;"><u><b>PACKAGES</b></u></p>
        <ul>
            <li style="color: #000000;"><b>VITAL PROFILE</b></li>
            <li style="color: #000000;"><b>COMPLETE HEALTH CHECK </b></li>
            <li style="color: #000000;"><b>MINI HEALTH PACKAGE</b></li>
            <li style="color: #000000;"><b>DIABETIC PROFILE</b></li>
            <li style="color: #000000;"><b>BASIC HEALTH CHECK</b></li>
        </ul>
    </div>
    <div class="col-md-3"></div>


</section>


<!-- Clients Carousel
============================================= -->

<section id="clients1" class="clients clients-carousel clients-carousel-1 clients-divider bg-f2f2f2">
    <div class="container">
        <div class="col-xs-12 col-sm-12">
            <div class="heading heading-1 mb-60 text--center">

                <p class="heading--title1">DIAGNOSTIC PARTNERS</p>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">



                <div id="w">
                    <div id="content">


                        <div id="testimonials">

                            <!-- <div class="carousel-nav clearfix">
                        
                          <img src="images/prev.png" id="prv-testimonial" class="prevbtn">
                          <img src="images/next.png" id="nxt-testimonial" class="nextbtn">
                        </div> -->

                        </div>
                        <!-- @end #testimonials -->

                        <div id="clients">

                            <div class="clients-wrap">
                                <center>
                                    <ul id="clients-list">
                                        <li><img src="assets/images/clients/1.png" alt=""></li>
                                        <li><img src="assets/images/clients/2.png" alt=""></li>
                                        <li><img src="assets/images/clients/3.png" alt=""></li>
                                        <li><img src="assets/images/clients/4.png" alt=""></li>
                                        <li><img src="assets/images/clients/5.png" alt=""></li>
                                        <li><img src="assets/images/clients/6.png" alt=""></li>
                                        <li><img src="assets/images/clients/8.png" alt=""></li>
                                        <li><img src="assets/images/clients/11.png" alt=""></li>
                                        <li><img src="assets/images/clients/12.png" alt=""></li>
                                        <li><img src="assets/images/clients/13.png" alt=""></li>
                                        <li><img src="assets/images/clients/14.png" alt=""></li>
                                        <li><img src="assets/images/clients/16.png" alt=""></li>
                                    </ul>
                                </center>
                            </div>
                            <!-- @end .clients-wrap -->
                        </div>
                        <!-- @end #clients -->
                    </div>
                    <!-- @end #content -->
                </div>
                <!-- @end #w -->




            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>