<!--home-content-top starts from here-->
<section class="home-content-top about" style="padding-bottom: 0px;margin-top: 150px;">
    <!-- <img src="assets/files/about-banner.jpg" style="width:100%;"> -->
    <div class="container">
        <div class="heading heading-1  text--center">

            <p class="heading--title1">About Us</p>


        </div>
        <!--our-quality-shadow-->







        <div class="row" style="background-color:white;">
            <h3 class="bottomline" style="color:#black;" style="text-align: left;font-weight: 500;font-size: 20px;">Welcome to the Virtual Hospital</h3>
            <p style="color:black;">Started at Bengaluru in September 2017, Salveo, which means “Good Health” in Latin, is India’s first virtual hospital.<br>

                <br> Salveo Healthcare Solutions is a next generation ISO 9001 certified digital company. We are a digital healthcare company, which aims to harness the power of technology to deliver quality yet cost-effective services and solutions to
                you and your family. Managed by a team of highly experienced healthcare professionals, technocrats and business leaders, Salveo’s competitive edge is in providing timely and reliable care. Our flagship product in the form of digital platform
                “MySalveo” provides the unique ‘virtual hospital’ experience, making quality healthcare accessible to you at the click of a button, and in the comfort of your home. Complementing the same are our physical spaces, Salveo Care Centers, offering
                personalized treatment solutions. Currently, 12 Centers are operational in Bengaluru, with more underway. </p>

            <div class="col-md-6">
                <h3 class="bottomline" style="color:black;">Our Vision</h3>
                <p style="color:black;">Transforming healthcare from a reactive state to a preventive and proactive state, by using intelligent technology.</p>


            </div>


        </div>

        <br>
        <div class="row">
            <iframe width="300" height="284" src="https://www.youtube.com/embed/JSqoOirES8E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        </div>
        <h3 class="bottomline">Our Team</h3>

        <!--home-content-top starts from here-->
        <section class="home-content-top" style="background: #eee;">
            <!--<img src="assets/images/teambg.jpg" style="width:100%;">-->
            <!--<div class="heading heading-1 mb-60 text--center" style="background: #1b8bca;">-->

            <!--        <p style="color: #fff;" class="heading--title1">THE TEAM THAT BRINGS SALVEO TO LIFE</p>-->


            <!--</div>-->
            <div class="container">

                <!--our-quality-shadow-->
                <div class="career row">
                    <div class="col-md-2">
                        <img src="assets/images/team/full/1.jpg" style="width: 100%;    border-radius: 5px 100px 100px 100px;">
                    </div>
                    <div class="col-md-10">

                        <h3>Manoj Biswas <span style="font-size:15px;font-weight: 500;">- CEO</span></h3>
                        <p>An IIM Calcutta alumnus with over 25 years of experience in the IT industry, Manoj has handled various responsibilities in the field of Human Resources across reputed organisations such as Wipro, IBM, Accenture, L&amp;T etc. The
                            recipient of several awards such as the “High Impact HR Leader” by Business World in 2015, the “Transformational HR Leader” by The Economic Times in 2016 dedicated his time and energy to transform the world of accessible and
                            affordable healthcare.</p>

                    </div>

                </div>
                <br><br>
                <div class="career row">
                    <div class="col-md-2">
                        <img src="assets/images/team/full/2.jpg" style="width: 100%;    border-radius: 5px 100px 100px 100px;">
                    </div>
                    <div class="col-md-10">

                        <h3>Shibani Roy <span style="font-size:15px;font-weight: 500;">- Director-Finance & Legal</span></h3>
                        <p>An established finance professional with an MBA in Finance from Symbiosis University and an ICWA degree, Shibani, has an experience of over two decades with reputed organisations such as American Express,GE.</p>

                    </div>

                </div>

                <br><br>



                <br>
                <div class="career row">
                    <div class="col-md-2">
                        <img src="assets/images/team/full/3.jpg" style="width: 100%;    border-radius: 5px 100px 100px 100px;">
                    </div>
                    <div class="col-md-10">
                        <h3>Dr.Pariksha Rao <span style="font-size:15px;font-weight: 500;">- Head-Health & Wellness</span></h3>
                        <p>An accomplished clinical nutritionist and behavioural scientist, Dr. Pariksha has garnered over 15 years of experience in reputed organisations such as AIIMS, Sri Ganga Ram Hospital, Indian Council of Medical Research, Max Super
                            Speciality Hospital, Manipal Hospital and MSD Pharmaceuticals.
                        </p>

                    </div>

                </div>

                <br><br>
                <div class="career row">
                    <div class="col-md-2">
                        <img src="assets/images/team/full/4.jpg" style="width: 100%;    border-radius: 5px 100px 100px 100px;">
                    </div>
                    <div class="col-md-10">

                        <h3>Hari Prasanth.V <span style="font-size:15px;font-weight: 500;">- Head - Technology</span></h3>
                        <p>As Head Technology, Hari has over 11 years of experience in the IT industry, which includes stints at reputed organisations such as TCS.</p>

                    </div>

                </div>
                <br><br>
                <div class="career row">
                    <div class="col-md-2">
                        <img src="assets/images/team/full/5.jpg" style="width: 100%;    border-radius: 5px 100px 100px 100px;">
                    </div>
                    <div class="col-md-10">

                        <h3>Chandra Shekhar <span style="font-size:15px;font-weight: 500;">- GM, Sales & Marketing</span></h3>
                        <p>With over 13 years of experience in the domain of healthcare sales, Chandra has a proven track record with pharmaceutical and healthcare start-ups, such as Merck, Convatec and Axios, armed with esteemed certifications such as the
                            Advanced Programme for Marketing Professionals from IIM Calcutta.</p>

                    </div>

                </div>
                <br>
            </div>
        </section>
        <!--home-content-top ends here-->


        <section class="home-content-top" style="background: #fff;">
            <div class="container">
                <div class="row">
                    <div class="heading heading-1 mb-60 text--center">

                        <p class="heading--title1">THE BOARD OF ADVISOR</p>


                    </div>
                </div>

                <div class="container">
                    <div class="col-md-10 col-md-offset-1 board">
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 3em;">
                                <h3>Dr. Sandhya Ramanujam </h3>
                                <p>Dental Surgeon and Implantologist</p>
                                <p>A highly qualified (BDS(India), DDS (USA), PGDMLE (India), MA Psychology).Sandhya is a dental surgeon and implantologyst by profession.She truly believes that being the gateway to the human body,dental care plays a critical
                                    role in an individuals overall well -being. </p>
                                <center>
                                    <ul class="th-socialicons">

                                        <li><a href="https://in.linkedin.com/in/dr-sandhya-ramanujam-5a200428" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>


                                    </ul>
                                </center>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 2em;">
                                <img src="assets/images/team/full/santhiya.jpg">
                            </div>

                            <div class="col-md-6">
                                <img src="assets/images/team/full/Ragavendra.jpg">
                            </div>

                            <div class="col-md-6" style="margin-bottom: 2em;margin-top: 3em;">
                                <h3>Dr.Raghavendra Chikkatur </h3>
                                <p>Senior Consultant in Cardiothoracic Surgery</p>
                                <p>Dr. Raghavendra is the Director of Cardiac Services and Chief Cardiothoracic Surgeon at People Tree Hospitals, Bangalore.Passionate about cardiothoracc surgery ,he is commited to establishing Centre of Excellence in Cardiac
                                    Science.
                                </p>
                                <center>
                                    <ul class="th-socialicons">

                                        <li><a href="https://in.linkedin.com/in/dr-raghavendra-chikkatur-3097415b" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>


                                    </ul>
                                </center>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <!-- <div class="col-md-6" style="margin-top: 3em;">
                                <h3>Sandeep Dhar</h3>
                                <p>President Hexaware- Ex.MD Tesco India & Sapient</p>
                                <p>A professional with 30 years of work experience across multiple industries (Banking, Retail, IT and Business Process Management), Sandeep has a rich experience in working internationally in cross-cultural teams across Asia.
                                </p>
                                <center>
                                    <ul class="th-socialicons">

                                        <li><a href="https://in.linkedin.com/in/sandeepdhar" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>


                                    </ul>
                                </center>
                            </div> -->
                            <!-- <div class="col-md-6" style="margin-bottom: 2em;">
                                <img src="assets/images/team/full/sandeep.jpg">
                            </div> -->

                            
                            <div class="col-md-6" style="margin-bottom: 2em;margin-top: 3em;">
                                <h3>Ashish Shah </h3>
                                <p>Managing Director at Apttus India</p>
                                <p>
                                    Technology & Operations Leader. 28 years in industry: Joined Apttus in 2017 and prior to that with GE 21 Yrs & NextGen 6 Yrs; 16 Years in USA & last 11 Years in India; MS in Electrical engineering from USA</p>
                                <center>
                                    <ul class="th-socialicons">

                                        <li><a href="https://in.linkedin.com/in/ashish-shah-6a9b0524" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>


                                    </ul>
                                </center>
                            </div>
                            <div class="col-md-6">
                                <img src="assets/images/team/full/Ashish.jpg">
                            </div>

                        </div>


                        <br>
                        <div class="row">

                            <div class="col-md-6" style="margin-bottom: 2em;">
                                <img src="assets/images/team/full/Amit.jpg">
                            </div>
                            <div class="col-md-6" style="margin-top: 3em;">
                                <h3>Amit Bhattacharjee</h3>
                                <p>Managing Director WLT.Ex</p>
                                <p>Amit is a leading Infrastructure Services Professional in the Indian IT industry, with nearly 25 years of rich experience in Infrastructure Services space, across multiple international organisations.</p>
                                <center>
                                    <ul class="th-socialicons">

                                        <li><a href="https://in.linkedin.com/in/amit-bhattacharjee-46b5453" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>


                                    </ul>
                                </center>
                            </div>
                            

                        </div>











                    </div>

                </div>

            </div>
        </section>


        <br><br>
        <div class="row">
            <!--<h3 class="bottomline" style="text-align: left;font-weight: 500;font-size: 20px;" >Significant Milestones</h3>
                   
            <br>
            <center><img src="assets/images/timeline.jpg"></center>-->
        </div>



    </div>

    <div class="saplveobg">
        <div class="container">
            <div class="row">
                <div class="heading heading-1  text--center">

                    <p style="color: #fff;" class="heading--title1">What is <span style="color: #0392ce;">Salveo</span></p>


                </div>
                <p style="text-align:center; color: #fff;">Salveo Healthcare Solutions is a Professionally run organization dedicated to provide world class health care
                    <Br> services at very affordable rate at the comfort of your home or at a Salveo Center nearby you</p>
                <br>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-4">
                        <center><img src="assets/images/high-quality_ic.png"> </center>
                        <h4>A high-caliber doctor</h4>
                    </div>

                    <div class="col-md-4">
                        <center><img src="assets/images/demand_ic.png"> </center>
                        <h4>On-demand or on your schedule</h4>
                    </div>

                    <div class="col-md-4">
                        <center><img src="assets/images/rightdorr_ic.png"> </center>
                        <h4>Right to your door</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="makappoinment" style="background: #0392ce;">
        <h3 class="col-md-8" style="color: #fff;text-align: center;padding-top: 24px;">If you are a patient seeking quality healthcare at affordable prices</h3>
        <div class="col-md-4"><button style="margin: 10px auto;" class="btn btn-hero btn-lg" href="https://salveohealthcare.in/loginreg.php">Make an appointment</button></div>
    </div>
</section>
<!--home-content-top ends here-->