<div id="wrapper" class="wrapper clearfix">

    <header id="navbar-spy" class="header header-14 header-topbar header-light header-fixed">
        <div class="row">
            <div id="top-bar" class="top-bar top-bar-light">
                <div class="container">
                    <div class="bottom-bar-border">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 col-md-2 top--contact hidden-xs">

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 top--contact hidden-xs">
                                <ul class="list-inline mb-0 ">
                                    <li style="border-bottom:3px solid #333;">
                                        <span style="color:#1a88b5;"><i class="fa fa-phone-square"></i></span>
                                        <span>+
                                            91
                                            7892976253</span>
                                    </li>
                                    <li>
                                        <span style="color:#1a88b5;"><i class="fa fa-envelope-o"></i></span><span>
                                            salveocare@mysalveo.com</span>
                                    </li>

                                </ul>

                            </div>
                            <!-- .col-md-6 end -->
                            <div class="col-xs-12 col-sm-4 col-md-4 top--social text-right text-center-xs time">
                                <span><strong style="color:#222; font-weight: 700"><i
                                            class="fa fa-clock-o"></i></strong>
                                    <span style="color: #222"> Mon-Sat :</span> <span
                                        style="color: #1b8bca">8:00am-9:00pm | </span> <span
                                        style="color: #222">Sun:</span>
                                    <span style="color: #1b8bca">Closed</span> </span>


                            </div>
                            <!-- .col-md-6 end -->
                        </div>
                    </div>
                </div>
            </div>
            <a class="logo" href="index.html" style="position:absolute; z-index:1060; left:7.5%; top:3%;">

                <img class="logo-dark logo" src="assets/images/logo/logo.png" alt="Logo">
            </a>


            <nav id="primary-menu" class="navbar navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            (click)="NavClick()" data-target="#navbar-collapse-1" aria-expanded="true">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>




                    </div>
                    <div *ngIf="isNav;" class="Mobnav">

                        <ul class="nav navbar-na ">

                            <li><a class="menu-item" [routerLink]="'/home'" routerLinkActive="active">Home</a></li>
                            <li class="non-mega"><a href="#">Services</a>
                                <ul>

                                    <li><a [routerLink]="'/corporate_wellness'" routerLinkActive="active">Corporate
                                            Wellness Program</a></li>
                                    <li><a [routerLink]="'/wellness'" routerLinkActive="active">Health & Wellness
                                        </a>
                                    </li>
                                    <li><a [routerLink]="'/diagnostics'" routerLinkActive="active">Diagnostics</a>
                                    </li>
                                    <li><a [routerLink]="'/nursing'" routerLinkActive="active">Nursing & Eldercare
                                        </a>
                                    </li>
                                    <li><a [routerLink]="'/physiotherapy'" routerLinkActive="active">Physiotherapy</a>
                                    </li>
                                    <li><a [routerLink]="'/dental_care'" routerLinkActive="active">Dental Care</a>
                                    </li>

                                    <li><a [routerLink]="'/doctor_consultation'" routerLinkActive="active">Doctor
                                            Consulatation</a></li>


                                </ul>
                            </li>

                            <li><a class="menu-item" [routerLink]="'/about'" routerLinkActive="active">About Us</a>
                            </li>
                            <li><a class="menu-item" [routerLink]="'/gallery'" routerLinkActive="active">Gallery</a>
                            </li>
                            <!-- <li><a class="menu-item" href="#">CSR</a></li>-->
                            <li><a class="menu-item" href="https://salveohealthcare.in/blog/">Blog</a></li>

                        </ul>

                    </div>
                    

                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse pull-right navgation menubar" id="navbar-collapse-1" style="position: absolute;right: -7%;">

                        <ul class="nav navbar-nav navbar-left nav-pos-left">

                            <li><a class="menu-item" [routerLink]="'/home'" routerLinkActive="active">Home</a></li>
                            <li class="non-mega"><a href="#">Services</a>
                                <ul>

                                    <li><a [routerLink]="'/corporate_wellness'" routerLinkActive="active">Corporate
                                            Wellness Program</a></li>
                                    <li><a [routerLink]="'/wellness'" routerLinkActive="active">Health & Wellness
                                        </a>
                                    </li>
                                    <li><a [routerLink]="'/diagnostics'" routerLinkActive="active">Diagnostics</a>
                                    </li>
                                    <li><a [routerLink]="'/nursing'" routerLinkActive="active">Nursing & Eldercare
                                        </a>
                                    </li>
                                    <li><a [routerLink]="'/physiotherapy'" routerLinkActive="active">Physiotherapy</a>
                                    </li>
                                    <li><a [routerLink]="'/dental_care'" routerLinkActive="active">Dental Care</a>
                                    </li>

                                    <li><a [routerLink]="'/doctor_consultation'" routerLinkActive="active">Doctor
                                            Consulatation</a></li>


                                </ul>
                            </li>

                            <li><a class="menu-item" [routerLink]="'/about'" routerLinkActive="active">About Us</a>
                            </li>
                            <li><a class="menu-item" [routerLink]="'/gallery'" routerLinkActive="active">Gallery</a>
                            </li>
                            <!-- <li><a class="menu-item" href="#">CSR</a></li>-->
                            <li><a class="menu-item" href="https://salveohealthcare.in/blog/">Blog</a></li>

                        </ul>

                        <!-- Module book -->
                        <div class="module module-search pull-righ">
                            <div class="module-icon search-icon">

                                <a href="https://salveohealthcare.in/loginreg.php" target="_blank"
                                    style="background:#1b8bca; padding:10px; color:#fff; border-radius: 5px;">book
                                    appointment</a>
                            </div>

                        </div>
                        <!-- .module-book end -->


                    </div>
                </div>
                <!-- /.navbar-collapse -->

                <!-- container-fluid -->
            </nav>
        </div>
    </header>
</div>