:host::ng-deep .person-text img {
    width: 150px !important;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

:host::ng-deep .bg-ban .ui-carousel .ui-carousel-content .ui-carousel-next {
    display: none;
}

:host::ng-deep .bg-ban .ui-carousel .ui-carousel-content .ui-carousel-prev {
    display: none;
}

:host::ng-deep .bg-ban .ui-carousel .car-data {
    position: relative;
    top: -400px;
}

:host::ng-deep .bg-ban .ui-carousel-content {
    padding: 0px 0px !important;
}


@media screen and (max-width: 600px) {

    .mobSlider{
        display:none;
    }
       
}

@media screen and (min-width: 600px) {

    .heroimg{
        display:none;
    }
       
}

.heroimg{
    height: 64vh;
    width: 100%;
    object-fit: contain;
  
}

.image{
    object-fit: contain;
    width: 100%;
    height: 120%;
}