<section style="padding-top: 130px;padding-bottom: 0px;" id="slider" class="">
    <!-- START REVOLUTION SLIDER 5.0 -->
    <!-- Carousel -->
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3500" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--  <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>-->

        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div><img src="assets/files/banner3.jpg" style="width: 100%;"></div>
                <div class="hero">

                    <h2>Dental care at <b color="#1a88b5;">Salveo</b></h2>

                    <!--<a href="https://www.youtube.com/watch?v=JSqoOirES8E" target="_blank" class="btn btn-hero btn-lg" role="button">PLAY VIDEO</a>-->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- #hero end -->

<section></section>
<section style="background-color:#1a88b5;">

    <!-- <center><h5 style="color:#1a88b5;">DENTAL CARE</h5></center>-->
    <center>
        <p style="color:#ffff;" style="max-width:1100px;">
            Dental specialists, backed by the latest dental equipment, can diagnose, treat and manage your overall oral healthcare needs at the Salveo Centers.Several of these services can also be made available at your home.
        </p>
    </center>
</section>
<!--<section>
    <center><a class="btn btn-primary">Dental Services @ HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary">Dental Services @ Salveo Hub</a></center>
</section>-->

<section>
    <!--<center><h5 style="color:black;">Services Provided</h5></center>-->

    <div class="container">
        <div class="justify-content-center">
            <div class="col-md-4">
                <img class="img-full" src="assets/files/dental.jpg">
            </div>
            <div class="col-md-4">
                <ul class="our_speciality">
                    <li style="color: #000000;"><b>BONDING</b></li>
                    <li style="color: #000000;"><b>CROWNS AND CAPS</b></li>
                    <li style="color: #000000;">
                        <b>FILLINGS</b></li>
                    <li style="color: #000000;"><b>ROOT CANALS</b></li>
                    <li style="color: #000000;"><b>VENEERS</b></li>
                    <li style="color: #000000;"><b>BRACES</b></li>
                    <li style="color: #000000;"><b>DENTURES</b></li>
                    <li style="color: #000000;"><b>GUM SURGERY</b></li>
                    <li style="color: #000000;"><b>BRIDGES AND IMPLANTS</b></li>
                    <li style="color: #000000;"><b>EXTRACTIONS</b></li>
                    <li style="color: #000000;"><b>ORAL CANCER EXAMINATIONS</b></li>
                    <li style="color: #000000;"><b>TEETH WHITENING</b></li>

                </ul>
            </div>
        </div>
    </div>



</section>

<section>
    <!--<center><h5 style="color:#1a88b5;">SPECIALIST DOCTORS</h5></center>-->

    <div class="container" style="background-color:#f2f2f1;">

        <div class="justify-content-center">
            <!-- <div class="col-md-4 col-sm-4">
                                  
                <div class="person-text rel">
                    <center><img src="assets/images/Dr/P2.jpg"></center><br>
                    <div class="col">
                            <h6 style="text-align: center">Dr.Sandhya Ramanujam </h6>
                            <p style="text-align: center"> <i>Dental Specialist</i></p>
                             <p  style="text-align: center">
                       


                        </p>
                        </div>
                   
                </div>
            </div>-->
            &nbsp;&nbsp;&nbsp;
            <div class="col-md-4 col-sm-4">

                <div class="person-text rel">
                    <center><img src="assets/images/Dr/kouser.png"></center><br>
                    <div class="col">
                        <h6 style="text-align: center">Dr.Kouser Fathima</h6>
                        <p style="text-align: center"> <i>Dental Specialist</i></p>
                        <p style="text-align: center">



                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>



</section>