<mat-drawer-container class="example-container">
    <mat-drawer class="side" mode="side" opened>
        <mat-nav-list>
            <mat-list-item routerLink="dashboard" routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-tachometer" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Dashboard</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="2" routerLinkActive="active" (click)="expand = !expand">
                <mat-icon style="color: #fff !important;" mat-list-icon>
                    <i class="fa fa-user-md" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Doctor Details</h5>
                </div>
                <div class="sb-sidenav-collapse-arrow">
                    <i *ngIf="!expand" class="fa fa-chevron-down" aria-hidden="true"></i>
                    <i *ngIf="expand" class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
            </mat-list-item>
            <mat-nav-list style="background: #4d4c4c;" *ngIf="expand">
                <div class="sub-menu">
                    <mat-list-item routerLink="create_doctors" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-user-plus" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">Create Doctor</h5>
                        </div>
                    </mat-list-item>
                    <mat-list-item routerLink="List_doctors" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-list-ul" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i>
                        </mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">List Doctor</h5>
                        </div>
                    </mat-list-item>
                    <mat-list-item routerLink="live_doctors_list" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-star" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">List Live Doctor</h5>
                        </div>
                    </mat-list-item>
                </div>
            </mat-nav-list>
            <mat-list-item routerLink="3" routerLinkActive="active" (click)="expanded = !expanded">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-wheelchair" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Patient Details </h5>
                </div>
                <div class="sb-sidenav-collapse-arrow">
                    <i *ngIf="!expanded" class="fa fa-chevron-down" aria-hidden="true"></i>
                    <i *ngIf="expanded" class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
            </mat-list-item>
            <mat-nav-list style="background: #4d4c4c;" *ngIf="expanded">
                <div class="sub-menu">
                    <mat-list-item routerLink="Patient_list" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-list-ul" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">List PatientDetails</h5>
                        </div>
                    </mat-list-item>

                </div>
            </mat-nav-list>
            <mat-list-item routerLink="3" routerLinkActive="active" (click)="expand_c = !expand_c">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-building" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Corporate </h5>
                </div>
                <div class="sb-sidenav-collapse-arrow">
                    <i *ngIf="!expand_c" class="fa fa-chevron-down" aria-hidden="true"></i>
                    <i *ngIf="expand_c" class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
            </mat-list-item>
            <mat-nav-list style="background: #4d4c4c;" *ngIf="expand_c">
                <div class="sub-menu">
                    <mat-list-item (click)="formtype()" routerLink="create_company" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-list-ul" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">Create Corporate</h5>
                        </div>
                    </mat-list-item>
                    <mat-list-item routerLink="company_list" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-list-ul" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">Corporate List</h5>
                        </div>
                    </mat-list-item>
                </div>
            </mat-nav-list>
            <mat-list-item routerLink="2" routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-clock-o" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Appointment Details</h5>
                </div>
            </mat-list-item>
            <mat-list-item routerLink="5" routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-credit-card" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 18px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Payment Details</h5>
                </div>
            </mat-list-item>
            <mat-list-item routerLink="5" routerLinkActive="active" (click)="expanding = !expanding">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-cubes" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 18px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">App Features</h5>
                </div>
                <div class="sb-sidenav-collapse-arrow">
                    <i *ngIf="!expanding" class="fa fa-chevron-down" aria-hidden="true"></i>
                    <i *ngIf="expanding" class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
            </mat-list-item>
            <mat-nav-list style="background: #4d4c4c;" *ngIf="expanding">
                <div class="sub-menu">
                    <mat-list-item routerLink="Home_banner" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-home" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">Home Banner</h5>
                        </div>
                    </mat-list-item>
                    <mat-list-item routerLink="specializations" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-plus-circle" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">Specialisation</h5>
                        </div>
                    </mat-list-item>
                    <mat-list-item routerLink="symptoms" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-bed" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">Symptoms</h5>
                        </div>
                    </mat-list-item>
                    <mat-list-item routerLink="Appuserlist" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-users" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">App User List</h5>
                        </div>
                    </mat-list-item>
                    <mat-list-item routerLink="8" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-bell-o" aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">Send Notification</h5>
                        </div>
                    </mat-list-item>
                </div>
            </mat-nav-list>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <section style="padding:25px;">
            <router-outlet></router-outlet>
        </section>

    </mat-drawer-content>
</mat-drawer-container>