<section style="padding-top: 130px;padding-bottom: 0px;" id="slider" class="">
    <!-- START REVOLUTION SLIDER 5.0 -->
    <!-- Carousel -->
    <div  data-ride="carousel" data-interval="3500" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--  <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>-->

        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div><img src="assets/files/banner-physiotherapy.jpg" style="width: 100%;"></div>
                <div class="hero">

                    <h2>SPECIALISED PHYSIOTHERAPY TREATMENT AT <b color="#1a88b5;">SALVEO</b></h2>

                    <!--<a href="https://www.youtube.com/watch?v=JSqoOirES8E" target="_blank" class="btn btn-hero btn-lg" role="button">PLAY VIDEO</a>-->
                </div>
            </div>
        </div>
    </div>


</section>

<section style="background-color:#1a88b5;">
    <div class="container">
        <!--  <h5 style="color:white;">Physiotherapy</h5>-->
        <p style="color:white;font-size: large">Our trained physiotherapists will quickly help you recover from injury or ailment through a combination of movement and exercise, manual therapy, education and advice. Treatment can cover a range of conditions associated with neurological, neuromusculoskeletal,
            cardiovascular and respiratory problems. These services can be availed at our Salveo centres or at your home
        </p>
        <!--  <button class="btn btn-primary"><img src="assets/files/Layer 20_layer.png"></button><button class="btn btn-primary"><h6 style="color:white; text-align:center;padding-top: 21px;font-size:14px;font-weight:200; text-transform:none;">Physiotherapy@Home</h6></button>
   &nbsp;&nbsp;&nbsp; <button class="btn btn-primary"><img src="assets/files/Layer 22.png"></button><button class="btn btn-primary"><h6 style="color:white; text-align:center;padding-top: 21px;font-size:14px;font-weight:200; text-transform:none;">Physiotherapy@Salveo Hub</h6></button>-->
    </div>
</section>
<section class="container">

    <div class="col-md-12">
        <div class="col-md-3">
            <center><img style="" src="assets/files/Shape 1.png"></center><br>

            <p style="color: #000000;" align="center">ORTHOPEDIC<br>PHYSIOTHERAPY</p>
        </div>
        <div class="col-md-3">
            <center><img style="" src="assets/files/Shape b.png"></center><br>
            <p style="color: #000000;" align="center">NEUROLOGICAL PHYSIOTHERAPY</p>
        </div>
        <div class="col-md-3">
            <center><img style="" src="assets/files/run.png"></center><br>
            <p style="color: #000000;" align="center">SPORTS <br>PHYSIOTHERAPY</p>
        </div>
        <div class="col-md-3">
            <center><img style="" src="assets/files/Forma 1.png"></center><br>
            <p style="color: #000000;" align="center">PEDIATRIC<br> PHYSIOTHERAPY</p>
        </div>
    </div>
</section>
<div class="container">
    <section>
        <!-- <h5>Our Qualified Experts</h5>-->
        <div class="col-md-4" ><img style="width:300px;" src="assets/images/Dr/RitieshRajColluru.jpeg"><br>
            <h2>Ritesh Raj</h2>
            <p style="color: #000000;">Orthopedic Physiotherapist
        </div>
        <div class="col-md-4"><img style="width:300px;height:257px;" src="assets/files/d2.jpg"><br>
            <h2> Vinayak Jyoti</h2>
            <p style="color: #000000;">Orthopedics & Sports Doctor
        </div>
        <div class="col-md-4"><img style="width:300px;height:257px;" src="assets/images/Dr/rangoli.png"><br>
            <h2>Rangoli Tripathi</h2>
            <p style="color: #000000;">Physiotherapist
        </div>
    </section>
</div>
<div>