<section>
    <div class="container" style="width: 100%;">
        <div class="row">
            <div class="col-md-3">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-i">
                                <i style="color: #fd43e0;" class="fa fa-user-md" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-text">
                                <p>Doctors</p>
                                <h3>666</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-i">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-text">
                                <p>Patients</p>
                                <h3>10245</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-i">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-text">
                                <p>Doctor</p>
                                <h3>6666</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-i">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-text">
                                <p>Doctor</p>
                                <h3>6666</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" style="width: 100%;">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="head-text">Doctor List <span>See more</span></h4>

                    </div>
                </div>
                <div class="card-box-1">
                    <div class="row hover-box">
                        <div class="col-md-2">
                            <div class="card-box-i">
                                <img src="../../../assets/images/high-quality_ic.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box-text">
                                <p>Doctors Name</p>
                                <h5>Specializations</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-box-text-1">
                                <h4>12.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row hover-box">
                        <div class="col-md-2">
                            <div class="card-box-i">
                                <img src="../../../assets/images/high-quality_ic.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box-text">
                                <p>Doctors Name</p>
                                <h5>Specializations</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-box-text-1">
                                <h4>12.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row hover-box">
                        <div class="col-md-2">
                            <div class="card-box-i">
                                <img src="../../../assets/images/high-quality_ic.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box-text">
                                <p>Doctors Name</p>
                                <h5>Specializations</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-box-text-1">
                                <h4>12.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row hover-box">
                        <div class="col-md-2">
                            <div class="card-box-i">
                                <img src="../../../assets/images/high-quality_ic.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box-text">
                                <p>Doctors Name</p>
                                <h5>Specializations</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-box-text-1">
                                <h4>12.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row hover-box">
                        <div class="col-md-2">
                            <div class="card-box-i">
                                <img src="../../../assets/images/high-quality_ic.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box-text">
                                <p>Doctors Name</p>
                                <h5>Specializations</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-box-text-1">
                                <h4>12.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="head-text">Patient List <span>See more</span></h4>

                    </div>
                </div>
                <div class="card-box-1">
                    <div class="row hover-box">
                        <div class="col-md-2">
                            <div class="card-box-i">
                                <img src="../../../assets/images/high-quality_ic.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box-text">
                                <p>Patient Name</p>
                                <h5>Problem</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-box-text-1">
                                <h4>12.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row hover-box">
                        <div class="col-md-2">
                            <div class="card-box-i">
                                <img src="../../../assets/images/high-quality_ic.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box-text">
                                <p>Patient Name</p>
                                <h5>Problem</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-box-text-1">
                                <h4>12.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row hover-box">
                        <div class="col-md-2">
                            <div class="card-box-i">
                                <img src="../../../assets/images/high-quality_ic.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box-text">
                                <p>Patient Name</p>
                                <h5>Problem</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-box-text-1">
                                <h4>12.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row hover-box">
                        <div class="col-md-2">
                            <div class="card-box-i">
                                <img src="../../../assets/images/high-quality_ic.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box-text">
                                <p>Patient Name</p>
                                <h5>Problem</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-box-text-1">
                                <h4>12.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row hover-box">
                        <div class="col-md-2">
                            <div class="card-box-i">
                                <img src="../../../assets/images/high-quality_ic.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box-text">
                                <p>Patient Name</p>
                                <h5>Problem</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-box-text-1">
                                <h4>12.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>