<section style="padding-top: 130px;padding-bottom: 0px;" id="slider" class="">
    <!-- <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3500" id="bs-carousel">
        
        <div class="overlay"></div>

        <div class="carousel-inner">
            <div class="item slides active">
                <div><img src="../../../assets/files/banner5.jpg"></div>
                <div class="hero">
                </div>
            </div>
        </div>



    </div> -->
</section>

<section>
    <div class="container">
        <center>
            <h5 style="font-size: 24px">GALLERY</h5>
        </center>
    </div>
</section>


<!--home-content-top starts from here-->
<section class="home-content-top">
    <div class="container">

        <!--our-quality-shadow-->
        <div class="clearfix"></div>
        <mat-tab-group>
            <mat-tab label="All">
                <div class="row">

                    <div class="col-md-4 imgs">
                        <img src="assets/files/g1.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/images/awards/a4.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/images/awards/a3.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/salveo new year.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/salveo geberal.png">
                    </div>

                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr1.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/phsiotherapy2.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr2.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/liver.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/nursing care.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/nutritionist.png">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Services">
                <div class="row">

                    <div class="col-md-4 imgs">
                        <img src="assets/files/g1.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/images/awards/a4.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/images/awards/a3.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/salveo new year.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/salveo geberal.png">
                    </div>

                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr1.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/phsiotherapy2.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr2.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/liver.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/nursing care.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/nutritionist.png">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Salveo Digital">
                <div class="row">

                    <div class="col-md-4 imgs">
                        <img src="assets/files/g1.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/images/awards/a4.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/images/awards/a3.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/salveo new year.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/salveo geberal.png">
                    </div>

                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr1.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/phsiotherapy2.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr2.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/liver.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/nursing care.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/nutritionist.png">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Awards">
                <div class="row">

                    <div class="col-md-4 imgs">
                        <img src="assets/files/g1.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/images/awards/a4.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/images/awards/a3.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/salveo new year.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/salveo geberal.png">
                    </div>

                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr1.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/phsiotherapy2.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr2.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/liver.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/nursing care.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/nutritionist.png">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Programs">
                <div class="row">

                    <div class="col-md-4 imgs">
                        <img src="assets/files/g1.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/images/awards/a4.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/images/awards/a3.jpg">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/salveo new year.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/salveo geberal.png">
                    </div>

                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr1.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/phsiotherapy2.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr2.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/liver.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/nursing care.png">
                    </div>
                    <div class="col-md-4 imgs">
                        <img src="assets/files/nutritionist.png">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <!--<h1 class="heading1">Welcome to webenlance</h1>-->
        <!-- <div class="tabbable-panel  ">
            <div class="tabbable-line">
                <ul class="nav nav-tabs tabtop  tabsetting">
                <ul class="nav nav-tabs tabtop">
                    <li class="active"> <a href="#tab_default_1" data-toggle="tab"> All </a> </li>
                    <li> <a href="#tab_default_2" data-toggle="tab"> Services</a> </li>
                    <li> <a href="#tab_default_3" data-toggle="tab"> Salveo Digital </a> </li>
                    <li> <a href="#tab_default_4" data-toggle="tab"> Awards</a> </li>
                    <li> <a href="#tab_default_5" data-toggle="tab" class="thbada"> Programs </a> </li>
                </ul>
                <div class="tab-content margin-tops">
                    <div class="tab-pane active fade in" id="tab_default_1">
                        <div class="col-md-4 imgs">
                            <img src="assets/files/g1.jpg">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/images/awards/a4.jpg">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/images/awards/a3.jpg">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/salveo new year.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/salveo geberal.png">
                        </div>

                        <div class="col-md-4 imgs">
                            <img src="assets/files/csr1.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/phsiotherapy2.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/csr2.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/liver.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/nursing care.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/nutritionist.png">
                        </div>

                    </div>
                    <div class="tab-pane fade" id="tab_default_2">
                        <div class="col-md-4 imgs">
                            <img src="assets/files/g1.jpg">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/images/awards/a4.jpg">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/images/awards/a3.jpg">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/Physiotherapy.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/salveo geberal.png">
                        </div>

                        <div class="col-md-4 imgs">
                            <img src="assets/files/csr1.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/phsiotherapy2.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/csr2.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/liver.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/nursing care.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/nutritionist.png">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab_default_3">
                        <div class="col-md-4 imgs">
                            <img src="assets/files/g1.jpg">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/images/awards/a4.jpg">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/images/awards/a3.jpg">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/salveo new year.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/salveo geberal.png">
                        </div>

                        <div class="col-md-4 imgs">
                            <img src="assets/files/csr1.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/phsiotherapy2.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/csr2.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/liver.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/nursing care.png">
                        </div>
                        <div class="col-md-4 imgs">
                            <img src="assets/files/nutritionist.png">
                        </div>

                    </div>

                    <div class="col-md-4 imgs">
                        <img src="assets/files/csr2.png">
                    </div>




                </div>
            </div>
        </div> -->
    </div>
</section>

<!--home-content-top ends here-->