<p>doctor-consultation works!</p>
<section style="padding-top: 130px;padding-bottom: 0px;" id="slider" class="">
    <!-- START REVOLUTION SLIDER 5.0 -->
    <!-- Carousel -->
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3500" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--  <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>-->

        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div><img src="assets/files/banne-doctor-consultation.jpg" style="width: 100%;"></div>
                <div class="hero">

                    <h2>Doctor Consultation at <b color="#1a88b5;">Salveo</b></h2>

                    <!--<a href="https://www.youtube.com/watch?v=JSqoOirES8E" target="_blank" class="btn btn-hero btn-lg" role="button">PLAY VIDEO</a>-->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- #hero end -->
<section></section>
<section style="background-color:#1a88b5;">
    <!-- <center><h5 style="color:#1a88b5;">DOCTOR CONSULTATION</h5></center>-->
    <center>
        <p style="color:#ffff;" style="max-width:1100px;">Doctors covering a range of medical specialties provide expert diagnosis and treatment, with an emphasis on the overall well-being of the individual. Their services can be availed at the Salveo Centers, or at the convenience of your home. </p>
    </center>

</section>
<section style="background-color:white;">
    <!--<center><h5 >OUR SERVICES</h5></center>-->

    <div class="container">
        <div class="justify-content-center">
            <div class="col-md-4">
                <img class="img-full" src="assets/files/heart.png">
            </div>
            <div class="col-md-4">
                <ul class="our_speciality">
                    <li style="color: #000000;"><b>Online Doctor Consultation</b></li>
                    <li style="color: #000000;"><b>Health Check Up</b></li>
                    <li style="color: #000000;"><b>Preventive Health Care</b></li>
                    <li style="color: #000000;"><b>Diet and Weight Managemnet</b></li>
                    <li style="color: #000000;"><b>E-Prescriptions</b></li>



                </ul>
            </div>
        </div>
    </div>



</section>
<section>
    <div class="container">
        <center>
            <h5 style="color:#1a88b5;">For enquiries, booking or support, call us at 1800 103 4530</h5>
        </center>
        <center>
            <h6>Need help? Get a call back from our support team</h6>
        </center>

        <center><button class="btn btn-primary">GET A CALL BACK</button></center>


    </div>



</section>